* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Philosopher", sans-serif;
}

.container {
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

input,
a,
ul,
li,
button {
  text-decoration: none;
  list-style-type: none;
  border: none;
  outline: none;
}

button {
  padding: 12px 32px;
  border-radius: 5px;
  background: #290247;
  color: #FFF;
  cursor: pointer;
}

.navbar {
  padding: 24px 0;
}

.nav__wrap {
  display: flex;
  align-items: center;
  gap: 124px;
}
.nav__wrap .nav__catalog {
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav__wrap .nav__catalog .nav__catalog__menu {
  display: flex;
  align-items: center;
  gap: 11px;
  padding: 12px 16px;
  border-radius: 5px;
  border: 0.5px solid #290247;
}
.nav__wrap .nav__catalog .nav__catalog__menu .nav__catalog__menu--text {
  color: #290247;
  font-size: 15px;
  font-weight: 700;
}
.nav__wrap .nav__catalog .nav__catalog__menu .nav__catalog__menu--img {
  cursor: pointer;
}
.nav__wrap .nav__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__wrap .nav__logo .nav__logo__search {
  width: 505px;
  display: flex;
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 423px;
  border-radius: 5px;
  background: #e7e7e7;
  gap: 11px;
}
.nav__wrap .nav__logo .nav__logo__search .nav__logo__search--text {
  color: rgba(48, 48, 48, 0.4);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.3px;
}
.nav__wrap .nav__logo .nav__logo__icons {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 78px;
  text-align: center;
}
.nav__wrap .nav__logo .nav__logo__icons .nav__logo__icons__izabreniy--text {
  color: #110C1F;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

.nav__links {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.nav__links .nav__links--link {
  color: #110C1F;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.3px;
  padding: 6px 16px;
  border-radius: 10px;
  border: 1px solid #110C1F;
}

.header .header__wrap .header--img {
  object-fit: cover;
}

.hero {
  margin-top: 72px;
  margin-bottom: 32px;
}
.hero .hero__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .hero__title h2 {
  color: #110c1f;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -0.3px;
}
.hero .hero__title .hero__title__icon {
  display: flex;
  gap: 8px;
  align-items: center;
}
.hero .hero__title .hero__title__icon p {
  color: #110C1F;
  font-size: 12px;
  font-weight: 400;
}

.karzinka__card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.karzinka__card .karzinka__card--cards {
  display: flex;
  width: 295px;
  height: 178px;
  padding: 21px 9px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 1px 0px 27px -5px rgba(31, 26, 45, 0.22);
  gap: 8px;
}
.karzinka__card .karzinka__card--cards .cards--img {
  width: 86px;
  height: 136px;
}
.karzinka__card .karzinka__card--cards .cards__info__icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.karzinka__card .karzinka__card--cards .cards__info__icon .cards__info__icon--left {
  display: flex;
  align-items: center;
  gap: 8px;
}
.karzinka__card .karzinka__card--cards .cards__info__icon .cards__info__icon--left p {
  color: #110C1F;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.3px;
}
.karzinka__card .karzinka__card--cards .cards__info--title {
  width: 183px;
  color: #290247;
  font-size: 15px;
  font-weight: 400;
  line-height: 97%; /* 14.55px */
  margin-bottom: 4px;
}
.karzinka__card .karzinka__card--cards .cards__info--text {
  color: #8d8d8d;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.3px;
  margin-bottom: 29px;
}
.karzinka__card .karzinka__card--cards .cards__infon--footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.karzinka__card .karzinka__card--cards .cards__infon--footer button {
  padding: 8px 12px;
}
.karzinka__card .karzinka__card--cards .cards__infon--footer p {
  color: #290247;
  font-size: 24px;
  font-weight: 400;
}

.sale {
  margin-top: 100px;
  padding-top: 32px;
  padding-bottom: 61px;
  background-color: #b9e6ff;
}
.sale h3 {
  color: #110C1F;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -0.3px;
  margin-bottom: 32px;
}

.aksiya__cards {
  display: flex;
  justify-content: space-between;
}
.aksiya__cards .aksiya__cards__card {
  width: 400px;
  height: 310px;
  border-radius: 5px;
  background-color: rgba(16, 10, 33, 0.8862745098);
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 10px;
  padding-bottom: 7px;
}
.aksiya__cards .aksiya__cards__card .aksiya__cards__card--title {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.3px;
  margin-bottom: 24px;
}
.aksiya__cards .aksiya__cards__card__wrap {
  display: flex;
  gap: 6px;
}
.aksiya__cards .aksiya__cards__card__wrap .aksiya__cards__card__wrap__text span {
  margin-bottom: 3px;
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.3px;
}
.aksiya__cards .aksiya__cards__card__wrap .aksiya__cards__card__wrap__text p {
  margin-bottom: 15px;
  width: 146px;
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.3px;
}
.aksiya__cards .aksiya__cards__card__wrap .aksiya__cards__card__wrap__text .aksiya__cards__card__wrap__text--btn {
  display: inline-flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #fff;
  color: #110C1F;
  font-size: 15px;
  font-weight: 700;
}
.aksiya__cards .aksiya__cards__card__wrap__imgs {
  display: flex;
}
.aksiya__cards .aksiya__cards__card__wrap__imgs .aksiya__cards__card__wrap__imgs--p-1 {
  display: block;
  z-index: 1;
  position: relative;
  top: 35px;
  right: 8px;
}
.aksiya__cards .aksiya__cards__card__wrap__imgs .aksiya__cards__card__wrap__imgs--p-2 {
  z-index: 0;
  display: block;
  position: relative;
  right: 30px;
}

.weekday__wrap {
  display: flex;
  justify-content: space-between;
}

.weekday__left {
  padding: 24px 9px 23px 9px;
  width: 190px;
  height: 242px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 1px 0px 27px -5px rgba(31, 26, 45, 0.22);
}
.weekday__left .l1 {
  color: #8d8d8d;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 8px;
}
.weekday__left .l2 {
  color: #290247;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px;
}
.weekday__left img {
  display: block;
  margin: auto;
  margin-bottom: 8px;
}
.weekday__left .l3 {
  color: #110C1F;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
}
.weekday__left .l4 {
  width: 172px;
  color: #110C1F;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 123.5%; /* 12.35px */
}

.weekday__center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 715px;
  height: 242px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 1px 0px 27px -5px rgba(31, 26, 45, 0.22);
  padding: 32px;
}
.weekday__center .weekday__center__left .cl1 {
  color: #8d8d8d;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 4px;
}
.weekday__center .weekday__center__left .cl2 {
  color: #290247;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 8px;
}
.weekday__center .weekday__center__left .cl3 {
  width: 263px;
  color: #110C1F;
  font-size: 12px;
  font-weight: 400;
  line-height: 123.5%;
  margin-bottom: 16px;
}
.weekday__center .weekday__center__left .cl4 {
  display: flex;
  gap: 4px;
}
.weekday__center .weekday__center__left .cl4 p {
  color: #110C1F;
  font-size: 12px;
  font-weight: 400;
}
.weekday__center .weekday__center__center img {
  display: block;
  margin: auto;
  margin-bottom: 8px;
}
.weekday__center .weekday__center__center p {
  color: #110C1F;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 27px;
  text-align: center;
}
.weekday__center .weekday__center__center span {
  display: block;
  text-align: center;
  color: #110C1F;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 8px;
}
.weekday__center .weekday__center__center .weekday__center__center__img {
  display: flex;
  justify-content: center;
  height: 16px;
  margin-bottom: 30px;
}
.weekday__center .weekday__center__center .weekday__center__center__img p {
  color: #290247;
  font-size: 12px;
  font-weight: 400;
  margin-right: 20px;
}
.weekday__center .weekday__center__center .weekday__center__center__img img {
  display: block;
}
.weekday__center .weekday__center__center .weekday__center__center__ulashish {
  display: flex;
  align-items: center;
  height: 16px;
}
.weekday__center .weekday__center__center .weekday__center__center__ulashish p {
  color: #110C1F;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  margin-right: 20px;
}
.weekday__center .weekday__center__center .weekday__center__center__ulashish img {
  display: block;
  height: 16px;
  width: 16px;
}

.btn-1 {
  margin-top: 30px;
}

.footer {
  margin-top: 150px;
  padding-top: 24px;
  padding-bottom: 78px;
}

.footer__wrap {
  display: flex;
  align-items: center;
}

.footer__wrap__left {
  margin-right: 258px;
}
.footer__wrap__left .footer__wrap__left__items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__wrap__left .footer__wrap__leff__items--item {
  color: #110C1F;
  font-size: 15px;
  font-weight: 400;
  line-height: 151.688%; /* 22.753px */
}

.footer__wrap__center {
  margin-right: 190px;
}
.footer__wrap__center .footer__wrap__center--text {
  padding-top: 70px;
  color: #110C1F;
  font-size: 15px;
  font-weight: 400;
  line-height: 151.688%; /* 22.753px */
  margin-bottom: 8px;
  display: block;
}
.footer__wrap__center .footer__wrap__center--link {
  color: #110C1F;
  font-size: 20px;
  font-weight: 700;
  line-height: 151.688%; /* 30.338px */
  margin-bottom: 12px;
}
.footer__wrap__center .footer__wrap__center__imgs {
  display: flex;
  align-items: center;
  gap: 34px;
  margin-bottom: 12px;
}
.footer__wrap__center .footer__wrap__center--span {
  color: #110C1F;
  font-size: 15px;
  font-weight: 400;
  line-height: 151.688%; /* 22.753px */
}

.footer__wrap__right .footer__wrap__right--title {
  padding-top: 65px;
  color: #110C1F;
  font-size: 15px;
  font-weight: 400;
  line-height: 151.688%; /* 22.753px */
  margin-bottom: 3px;
}
.footer__wrap__right .footer__wrap__right--tel {
  color: #110C1F;
  font-size: 20px;
  font-weight: 700;
  line-height: 151.688%; /* 30.338px */
  margin-bottom: 16px;
}
.footer__wrap__right .footer__wrap__right--text {
  color: #110C1F;
  font-size: 15px;
  font-weight: 400;
  line-height: 151.688%; /* 22.753px */
  margin-bottom: 12px;
}
.footer__wrap__right .footer__wrap__right--img {
  display: flex;
  align-items: center;
  gap: 32px;
}

/*# sourceMappingURL=main.css.map */
