@import "./base/variables";
@import "./base/base";
@import "./base/mixin";

button {
  @include btn;
}
//navbar
.navbar {
  padding: 24px 0;
}
.nav__wrap {
  display: flex;
  align-items: center;
  gap: 124px;
  .nav__catalog {
    display: flex;
    align-items: center;
    gap: 24px;
    .nav__catalog__menu {
      display: flex;
      align-items: center;
      gap: 11px;
      padding: 12px 16px;
      border-radius: 5px;
      border: 0.5px solid $secondary;
      .nav__catalog__menu--text {
        color: $secondary;
        font-size: 15px;
        font-weight: 700;
      }
      .nav__catalog__menu--img {
        cursor: pointer;
      }
    }
  }
  .nav__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav__logo__search {
      width: 505px;
      display: flex;
      padding-left: 12px;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-right: 423px;
      border-radius: 5px;
      background: #e7e7e7;
      gap: 11px;
      .nav__logo__search--text {
        color: rgba(48, 48, 48, 0.4);
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.3px;
      }
    }
    .nav__logo__icons {
      display: flex;
      align-items: center;
      gap: 40px;
      margin-left: 78px;
      text-align: center;
      .nav__logo__icons__izabreniy--text {
        color: $primary;
        font-size: 12px;
        font-weight: 400;
        text-align: center;
      }
    }
  }
}
.nav__links {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  .nav__links--link {
    color: $primary;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.3px;
    padding: 6px 16px;
    border-radius: 10px;
    border: 1px solid $primary;
  }
}
// header
.header {
  // margin-top: 24px;
  .header__wrap {
    .header--img {
      object-fit: cover;
    }
  }
}
// hero
.hero {
  margin-top: 72px;
  margin-bottom: 32px;
  .hero__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      color: #110c1f;
      font-feature-settings: "clig" off, "liga" off;
      font-size: 32px;
      font-weight: 400;
      letter-spacing: -0.3px;
    }
    .hero__title__icon {
      display: flex;
      gap: 8px;
      align-items: center;
      p {
        color: $primary;
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}
// korzinka
.karzinka__card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  .karzinka__card--cards {
    display: flex;
    width: 295px;
    height: 178px;
    padding: 21px 9px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 1px 0px 27px -5px rgba(31, 26, 45, 0.22);
    gap: 8px;
    .cards--img {
      width: 86px;
      height: 136px;
    }
    .cards__info__icon {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .cards__info__icon--left {
        display: flex;
        align-items: center;
        gap: 8px;
        p {
          color: $primary;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: -0.3px;
        }
      }
    }
    .cards__info--title {
      width: 183px;
      color: $secondary;
      font-size: 15px;
      font-weight: 400;
      line-height: 97%; /* 14.55px */
      margin-bottom: 4px;
    }
    .cards__info--text {
      color: #8d8d8d;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: -0.3px;
      margin-bottom: 29px;
    }
    .cards__infon--footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      button {
        padding: 8px 12px;
      }
      p {
        color: $secondary;
        font-size: 24px;
        font-weight: 400;
      }
    }
  }
}
//sale{
.sale {
  margin-top: 100px;
  padding-top: 32px;
  padding-bottom: 61px;
  background-color: #b9e6ff;
  h3 {
    color: $primary;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: -0.3px;
    margin-bottom: 32px;
  }
}
// aksiya
.aksiya__cards {
  display: flex;
  justify-content: space-between;
  .aksiya__cards__card {
    width: 400px;
    height: 310px;
    border-radius: 5px;
    background-color: #100a21e2;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 10px;
    padding-bottom: 7px;
    .aksiya__cards__card--title {
      color: #fff;
      font-feature-settings: "clig" off, "liga" off;
      font-size: 24px;
      font-weight: 400;
      letter-spacing: -0.3px;
      margin-bottom: 24px;
    }
  }
  .aksiya__cards__card__wrap {
    display: flex;
    gap: 6px;
    .aksiya__cards__card__wrap__text {
      span {
        margin-bottom: 3px;
        color: #fff;
        font-feature-settings: "clig" off, "liga" off;
        font-size: 40px;
        font-weight: 700;
        letter-spacing: -0.3px;
      }
      p {
        margin-bottom: 15px;
        width: 146px;
        color: #fff;
        font-feature-settings: "clig" off, "liga" off;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: -0.3px;
      }
      .aksiya__cards__card__wrap__text--btn {
        display: inline-flex;
        padding: 8px 12px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 5px;
        background: #fff;
        color: $primary;
        font-size: 15px;
        font-weight: 700;
      }
    }
  }
  .aksiya__cards__card__wrap__imgs {
    // position: relative;
    display: flex;
    .aksiya__cards__card__wrap__imgs--p-1 {
      display: block;
      z-index: 1;
      position: relative;
      top: 35px;
      right: 8px;
    }
    .aksiya__cards__card__wrap__imgs--p-2 {
      z-index: 0;
      display: block;
      position: relative;
      right: 30px;
    }
  }
}
//weekday
.weekday__wrap {
  display: flex;
  justify-content: space-between;
}
.weekday__left {
  padding: 24px 9px 23px 9px;
  width: 190px;
  height: 242px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 1px 0px 27px -5px rgba(31, 26, 45, 0.22);
  .l1 {
    color: #8d8d8d;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 8px;
  }
  .l2 {
    color: #290247;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 12px;
  }
  img {
    display: block;
    margin: auto;
    margin-bottom: 8px;
  }
  .l3 {
    color: $primary;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
  }
  .l4 {
    width: 172px;
    color: $primary;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    line-height: 123.5%; /* 12.35px */
  }
}
.weekday__center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 715px;
  height: 242px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 1px 0px 27px -5px rgba(31, 26, 45, 0.22);
  padding: 32px;
  .weekday__center__left {
    .cl1 {
      color: #8d8d8d;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 4px;
    }
    .cl2 {
      color: $secondary;
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 8px;
    }
    .cl3 {
      width: 263px;
      color: $primary;
      font-size: 12px;
      font-weight: 400;
      line-height: 123.5%;
      margin-bottom: 16px;
    }
    .cl4 {
      display: flex;
      gap: 4px;

      p {
        color: $primary;
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
  .weekday__center__center {
    img {
      display: block;
      margin: auto;
      margin-bottom: 8px;
    }
    p {
      color: $primary;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 27px;
      text-align: center;
    }
    span {
      display: block;
      text-align: center;
      color: $primary;
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 8px;
    }
    .weekday__center__center__img {
      display: flex;
      justify-content: center;
      height: 16px;
      margin-bottom: 30px;
      p {
        color: $secondary;
        font-size: 12px;
        font-weight: 400;
        margin-right: 20px;
      }
      img {
        display: block;
      }
    }
    .weekday__center__center__ulashish {
      display: flex;
      align-items: center;
      // justify-content: center;
      height: 16px;
      p {
        color: $primary;
        font-size: 12px;
        font-weight: 400;
        margin: 0;
        margin-right: 20px;
      }
      img {
        display: block;
        height: 16px;
        width: 16px;
      }
    }
  }
}
// btn-1
.btn-1 {
  margin-top: 30px;
}
// footer
.footer {
  margin-top: 150px;
  padding-top: 24px;
  padding-bottom: 78px;
}
.footer__wrap {
  display: flex;
  align-items: center;
}
.footer__wrap__left {
  margin-right: 258px;
  .footer__wrap__left__items {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .footer__wrap__leff__items--item {
    color: $primary;
    font-size: 15px;
    font-weight: 400;
    line-height: 151.688%; /* 22.753px */
  }
}
.footer__wrap__center {
  margin-right: 190px;
  .footer__wrap__center--text {
    padding-top: 70px;
    color: $primary;
    font-size: 15px;
    font-weight: 400;
    line-height: 151.688%; /* 22.753px */
    margin-bottom: 8px;
    display: block;
  }
  .footer__wrap__center--link {
    color: $primary;
    font-size: 20px;
    font-weight: 700;
    line-height: 151.688%; /* 30.338px */
    margin-bottom: 12px;
  }
  .footer__wrap__center__imgs {
    display: flex;
    align-items: center;
    gap: 34px;
    margin-bottom: 12px;
  }
  .footer__wrap__center--span {
    color: $primary;
    font-size: 15px;
    font-weight: 400;
    line-height: 151.688%; /* 22.753px */
  }
}
.footer__wrap__right { 
  .footer__wrap__right--title {
    padding-top: 65px;
    color: $primary;
    font-size: 15px;
    font-weight: 400;
    line-height: 151.688%; /* 22.753px */
    margin-bottom: 3px;
  }
  .footer__wrap__right--tel {
    color: $primary;
    font-size: 20px;
    font-weight: 700;
    line-height: 151.688%; /* 30.338px */
    margin-bottom: 16px;
  }
  .footer__wrap__right--text {
    color: $primary;
    font-size: 15px;
    font-weight: 400;
    line-height: 151.688%; /* 22.753px */
    margin-bottom: 12px;
  }
  .footer__wrap__right--img{
    display: flex;
    align-items: center;
    gap: 32px;
  }
}
