* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Philosopher", sans-serif;
}
.container {
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}
input,
a,
ul,
li,
button {
  text-decoration: none;
  list-style-type: none;
  border: none;
  outline: none;
}
